a
{
	color: #ffffff;
	text-decoration: none;
}

body
{
	background: #d4d4d4;
	color:#2c2c2c;
	font-family:Arial;
	font-size: 16px;
	margin: 0px;
}

header
{
	background: #562065;
	color:#ffffff;	
	padding: 2em;
	text-align: left;

}
header #logo img
{
	width: 125px;
}
header figure , header div
{
	display: inline-block;
	vertical-align: top;
}

header div
{
	float: right;

}
header div ul,header div form
{
	display: inline-block;
	vertical-align: middle;
	margin-top: 3em;

}
nav{
	background: #4e167a;

}

nav ul{
	list-style: none;
	margin-top: 0px;
	text-align: center;
}
nav ul li
{
display :inline-block;
padding: 1em 1em 1em 1em ;
border-right: 1px solid #a066ab;

}
nav ul  .first{
 border-left: 1px solid #a066ab;
 color:white;
}
section{
	width: 56%;
	border: 1px solid black;
}
aside , section{
	display: inline-block;
}

.not {
	width: 30%;
	height: 10%;
	display: inline-block;
	padding: 2em;
}
#noticias{
	margin-bottom: 1em;
	border-bottom: 1px solid #2d2d2d;
}

#noticias .not figure h3 p{
	
	position: relative;
}

#menuizquierda{
	float: left;
	width: 20%;
	border: 1px solid black;
}
#menuderecha{
	float: right;
	width: 20%;
	border: 1px solid black;
}

#ya
{
	height: 25px;
}
#buscar,#ya{

	display: inline-block;
	vertical-align: top;
	
}
#menutop
{
	background: black;
	float:right;
	
	margin-right: 2em;


}
#menutop ul
{
	float:right;
	margin: 3px;
	padding: 2px;
    
}
#menutop ul li {
	display: inline-block;
	margin: 0 1.2em 0 0;
	font-size: 13px;

	padding: 0px;
	
}

#menuheader ul
{
	border-right: 1px solid #a066ab;
	margin-right: 2em;
	padding-right: 1.5em;
	list-style: none;
}
#Slide{
	margin: -16px 0px -5px 0px;
}
